/* banner */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("./banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  height: 200px;

}

h5 {
  font-size: 35px;

  color: #587330;
  margin-bottom: 20px;
}
h4 {
  font-size: 35px;
  font-style: italic;
  color: #587330;
  margin-bottom: 20px;
}
input::placeholder,
textarea::placeholder {
  color: #587330;
  font-style: italic;
  opacity: 1;
}
.form-control {
  border: 2px solid #587330;
  border-radius: 20px;
  padding: 20px;
}
